@model BlogPostModel

@{
    ViewData["Title"] = "Details";
}


<div>
    <div class="blogTitle">
        <h1>@Html.DisplayFor(model => model.Title)</h1>
        <h4>@Html.DisplayFor(model => model.Posted)</h4>

    </div>
    <hr />
    <div class="blogSummary">
        <div>
            @Html.DisplayNameFor(m => m.Summary)

        </div>
        <div>
            @Html.DisplayFor(m => m.Summary)
        </div>
    </div>
    <div class="blogBody">
        <div>
            @Html.DisplayFor(m => m.Body)
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Pack to Posts</a>
</div>

<div>
    <p>Tags:</p>
    @Html.Partial("_TagListView", Model.TagArray)
</div>
